# Environment variables declared in this file are automatically made available to Prisma.
# See the documentation for more detail: https://pris.ly/d/prisma-schema#accessing-environment-variables-from-the-schema

# Prisma supports the native connection string format for PostgreSQL, MySQL, SQLite, SQL Server, MongoDB and CockroachDB.
# See the documentation for all the connection string options: https://pris.ly/d/connection-strings

DATABASE_URL="postgresql://postgres:postgres@localhost:5431/db?schema=public"

POSTGRES_PASSWORD="postgres"
POSTGRES_USER="postgres"
POSTGRES_DB="db"

PORT=5000
FRONTEND_ORIGIN="http://localhost:3000"
FRONTEND_ORIGIN_LOGIN="http://localhost:3000/login"
FRONTEND_ORIGIN_HOME="http://localhost:3000/home"
JWT_SECRET="YOUR JWT SECRET"

# redis credentials !
REDIS_HOST=localhost
REDIS_PORT=6378
REDIS_PASSWORD=secret-password

# minio credentials
MINIO_ROOT_USER=somo
MINIO_ROOT_PASSWORD=somoSomo
MINIO_ENDPOINT=localhost
MINIO_ACCESS_KEY='2IETgtnONWz6UtA6su5u'
MINIO_SECRET_KEY='uiPyP1qtCqEes0nRfg83rwaNHBMYQtI8I5sxgqBG'

# mail credentials !
MAIL_HOST="smtp.gmail.com"
MAIL_PORT=587
MAIL_USER="ayoub.anjaimi99@gmail.com"
MAIL_PASS="kpnglmuefuxsjloe"